@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR&display=swap");

.App_header {
  margin: 30px;
  margin-bottom: 10px;
}
.App_react {
  height: 120px;
  pointer-events: none;
}
@media (prefers-reduced-motion: no-preference) {
  .App_react {
    animation: App_react-spin infinite 20s linear;
  }
}
@keyframes App_react-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.App_card {
  display: flex;
}
